@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .article {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .article h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .article p {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
  }

  .article .p_first {
    padding-bottom: 1.5rem;
  }

  .article .p_head {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.9px;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  /* .article2 h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -1.1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  } */

  .article2 p {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .p_first {
    padding-bottom: 1.5rem;
  }

  .article2 .p_head {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.9px;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .lhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article2 p {
    padding: 1.5rem 1.5rem 1rem 0;
    line-height: 1.5;
  }

  .article2 .lstyle {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .techlist {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    word-wrap: normal;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .article {
    margin-top: 5rem;
    padding: 0 2rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .article h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -1.1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .article p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
  }

  .article .p_first {
    padding-bottom: 1.5rem;
  }

  .article .p_head {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.9px;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 {
    margin-top: 4rem;
    padding: 0 2rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .article2 h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -1.1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .article2 p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .p_first {
    padding-bottom: 1.5rem;
  }

  .article2 .p_head {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.9px;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .lhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .article2 p {
    padding: 1.5rem 1.5rem 1rem 0;
    line-height: 1.5;
  }

  .article2 .lstyle {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
  }

  .article2 .techlist {
    display: flex;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
    color: #fff;
  }
}
