.footer {
  display: flex;
  margin: 100px 0 0px 0;
  gap: 4rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.link {
  border-radius: 50%;
  background-color: white;
  padding: 0.8rem;
}
