:root {
  --dark-color: black;
  --light-color: white;
  /* --bg-color: #f9f9f9;
  --text-color: #333; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--light-color);
  transform-origin: 0%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
}

html[data-theme="dark"] body {
  background: var(--dark-color);
  color: var(--light-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

input,
textarea {
  background: transparent;
  margin-bottom: 2rem;
  box-shadow: none;
  resize: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  border-radius: 6.5px;
  width: 100%;
  color: white;
}

form {
  width: 60%;
}

@media (max-width: 585px) {
  form {
    width: 100% !important;
  }
}
@media (max-width: 989px) {
  form {
    width: 100% !important;
  }
}
@media (max-width: 220px) {
  form {
    width: 100% !important;
  }
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(7, 1, 1);
  font-size: 1.2rem;
  font-weight: 500;
}
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 35px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: rgb(7, 1, 1);
  color: #f1f1f1;
}
.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(7, 1, 1);
  }

  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
    background-color: transparent;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
